$breakpoints: (
  "xs": (
    "min": 0px,
    "width": 100%,
  ),
  "sm": (
    "min": 576px,
    "width": 100%,
  ),
  "md": (
    "min": 768px,
    "width": 720px,
  ),
  "lg": (
    "min": 992px,
    "width": 960px,
  ),
  "xl": (
    "min": 1200px,
    "width": 1140px,
  ),
  "2xl": (
    "min": 1400px,
    "width": 1320px,
  ),
) !default;

@each $breakpoint, $values in $breakpoints {
  $min: map-get($values, "min");
  $width: map-get($values, "width");

  // Generate a CSS class for each breakpoint
  @media (min-width: $min) {
    .container {
      max-width: $width;

      @if $breakpoint == "xs" or $breakpoint == "sm" {
        margin-left: 0.4em;
        margin-right: 0.4em;
      } @else {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
