$range: 15 !default;
$base: 0.25 !default;
$unit: rem !default;

@mixin gap($range, $base, $unit: rem) {
  @for $i from 0 through $range {
    $value: $base * $i;
    .gap-#{$i} {
      gap: calc($value) + $unit;
    }
  }
}

@include gap($range, $base, $unit);
