$range: 15 !default;
$base: 1 !default;
$unit: em !default;

@mixin generate-padding($range, $base, $measure-unit: "") {
  @for $i from 0 through $range {
    .p-#{$i} {
      padding: $i * $base + $measure-unit;
    }
    .pt-#{$i} {
      padding-top: $i * $base + $measure-unit;
    }
    .pb-#{$i} {
      padding-bottom: $i * $base + $measure-unit;
    }
    .pl-#{$i} {
      padding-left: $i * $base + $measure-unit;
    }
    .pr-#{$i} {
      padding-right: $i * $base + $measure-unit;
    }
    .py-#{$i} {
      padding-top: $i * $base + $measure-unit;
      padding-bottom: $i * $base + $measure-unit;
    }
    .px-#{$i} {
      padding-right: $i * $base + $measure-unit;
      padding-left: $i * $base + $measure-unit;
    }
  }
}

.pt-auto {
  padding-top: auto;
}
.pb-auto {
  padding-bottom: auto;
}
.pl-auto {
  padding-left: auto;
}
.pr-auto {
  padding-right: auto;
}
.px-auto {
  padding-left: auto;
  padding-right: auto;
}
.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}
.p-auto {
  padding: auto;
}

@include generate-padding($range, $base, $unit);
